@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@media screen and (max-width: 430px)  {
    .Mascotas{
        display: flex;
        background-color: blue;
        flex-direction: column;
    }
    
}  
button:hover{
    background-image: linear-gradient(#727272, #333333);
}
button:active{
    background-image: linear-gradient(#ffffff, #ffffff);
}
input:hover + label{
    background-image: linear-gradient(#727272, #333333);
    
}
input:checked + label{
    background-image: linear-gradient(#ffffff, #ffffff);
}
.titulosPagina2{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.pagina2Style{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.titulo11{
    color: rgb(201, 201, 201);
    height: 88px;
    width: 530px;
    background-image: radial-gradient(circle, black -59%, #7a7a7a00 100%);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 38px;
    border: 3px solid #2d2d2d;
    box-shadow: 2px 6px 10px black;
    margin: 20px;
    font-family: "Oswald", sans-serif;
}
.subtituloEligeMascota, .subtitulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 32px;
    margin-bottom: 60px;
    background-image: linear-gradient(#8f8f8f00, #393939);
    border-radius: 47px;
    width: 336px;
    height: 47px;
    box-shadow: 2px 6px 10px black;
    border: 3px solid #2d2d2d;
    margin-bottom: 32px;
}

.combate{
    background-color: rgb(75, 75, 75);
    color: rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-timing-function: ease-in;
    height: 100vh;
}
.SeleccionarMascotaStyle{
    background-color: rgb(75, 75, 75);
    background-size: cover;
    color: rgb(201, 201, 201);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    transition-timing-function: ease-in;
}
.Mascotas{
    color: rgb(0, 0, 0);
    height: 220px;
    width: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    height: 30px;
    width: 150px;
}
input{
    height: 30px;
    width: 150px;
}
button{
    height: 30px;
    width: 150px;
}
.botones-mascotas{
    display: flex;
    height: 221px;
    width: 164px;
    flex-direction: column;
    align-items: center;
    background: #b1b1b1;
    border: 3px solid #2d2d2d;
    padding: 4px;
    box-sizing: border-box;
    margin: 28px;
    font-size: 31px;
    justify-content: center;
    box-shadow: 2px 6px 10px;
    background-image: linear-gradient(#fbfbfb, #6d6d6d);
}
.botones-mascotas img{
    width: 90px;
}
.mascotaSeleccion{
    display: none;
}
.botones-SeleccionMascota{
    height: 100px;
    width: 643px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 32px;
    margin-top: 32px;
    background-image: linear-gradient(#555555, #ffffff);
    border-radius: 47px;
    border: 3px solid #2d2d2d;
    box-shadow: 2px 6px 10px black;
    font-family: "Oswald", sans-serif;
}
.mensajes-vidas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vidas-peleadores{
    color: black;
}
.botones-combate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.GanadorPerdedor{
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 24px;
    background-image: linear-gradient(#555555, #ffffff);
    border-radius: 47px;
    border: 3px solid #2d2d2d;
    box-shadow: 2px 6px 10px black;
    font-family: "Oswald", sans-serif;
    color: black;
    margin-top: 16px;

}
.resultadoFinal{
    margin: 5px;
}
.mensajeResultado{
    margin: 0px 32px 0px 32px;
    font-size: 24px;
}
.mensajeCombate{
    margin: 8px;
    margin-top: -6px;
}
.reiniciar, .Botones-ataques{
    margin: 0px 32px 0px 4px;
    height: 42px;
    width: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    background-image: linear-gradient(#555555, #ffffff);
    border-radius: 47px;
    border: 3px solid #2d2d2d;
    box-shadow: 2px 6px 10px black;
    font-family: "Oswald", sans-serif;
}
.mensajesCombateStyle{
    display: grid;
    grid-template-columns: 416px 416px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.vidasJugadorStyle, .vidasEnemigoStyle{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background-image: linear-gradient(#555555, #ffffff);
    border-radius: 47px;
    border: 3px solid #2d2d2d;
    box-shadow: 2px 6px 10px black;
    font-family: "Oswald", sans-serif;
    color: black;
    margin: 16px 9px 16px 53px;
    width: 395px;
}
.vidas-peleadores{
    margin: 5px 0px 5px 0px;
}